{% extends "base.html" %}

{% block title %}Home - Native Language Learning{% endblock %}

{% block content %}
<!-- Hero Section -->
<header class="hero-section text-center text-white d-flex align-items-center" style="
    background: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ), 
    url('/static/home.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
">
    <div class="container">
        <p class="lead mb-4">Explore new courses and continue your learning journey.</p>
        <!-- Search Bar -->
        <form class="d-flex justify-content-center mt-4" action="{{ url_for('main.search_courses') }}" method="GET">
            <input class="form-control form-control-lg search-bar me-2" type="search" placeholder="Search for courses..." aria-label="Search" name="q">
            <button class="btn btn-light btn-lg" type="submit">Search</button>
        </form>
    </div>

</header>





<!-- Find Courses by Language Section -->
<section class="container my-5">
    <h2 class="text-center mb-4">Find Courses on Various Languages</h2>
    <div class="row">
        {% for language in languages %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='images/languages/' ~ language.image_file) }}" class="card-img-top" alt="{{ language.name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ language.name }}</h5>
                    <p class="card-text">{{ language.demographics[:100] | safe }}...</p>
                    <a href="{{ url_for('main.language_detail', language_id=language.id) }}" class="btn btn-primary">Learn More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% if featured_courses %}
<!-- Featured Courses Section -->
<section class="container my-5">
    <h2 class="text-center mb-4">Featured Courses</h2>
    <div class="row">
        {% for course in featured_courses %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ url_for('static', filename='course_images/' + course.image_file) }}" alt="{{ course.title }}" class="img-fluid">
                <div class="card-body">
                    <h5 class="card-title">{{ course.title }}</h5>
                    <p class="card-text">{{ course.description[:100] | safe  }}...</p>
                    <a href="{{ url_for('main.course_detail', course_id=course.id) }}" class="btn btn-primary">View Course</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

{% endif %}


{% endblock %}
